/* Hi, I'm a css code comment, written a little bit different to html! 
Add some css to this document */

/* Removing default styling */
/* color only affects text,  background-color only affects elements */
body {
	height: 100%;
	background-color: #FAF6F2;
	font-family: 'Montserrat';
	font-weight: 10;
}


a {
	color: black;
	font-size: 1.25em;
	padding: 20px;
	class="w100"
}

h1 {
	font-size: 5em;
	color: #1E150C;
	text-align: center;
	font-family: 'EB Garamond';
}

h2 {
	font-size: 2.875em;
	margin-top: 5%;
	font-family: 'EB Garamond';
}


p {
	color: black;
	font-size: 1.25em;
	padding-left: 15%;
	padding-right: 15%;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 5%;
}

.w100 {
	font-weight: 100;
}

.w200 {
	font-weight: 200;
}


.background {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}


/* top LOGO Banner items */

.logo-container {
	position: absolute;
	top: 1%;
	background-color: #402c25;
	width: 100%;
	/* border-color: blue; */
}

.logo-container img {
	margin-left: 10%;
}

.menu-container {
	position: absolute;
	top: 1%;
	right: 20%;
	display: grid;
	grid-template-columns: 30% 30% 40% 30% 30%;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.menu-container p {
	color: #FAF6F2;
}


.menu-container a {
	color: #FAF6F2;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;

}

/* main Content Containers */

.top-container {
	padding: 20px;
	text-align: center;

}

.top-container p {
	padding-left: 30%;
	left: 20%;

}

/* Blurred & Banner Containers not used */ 

.image-blurred-edge {

	display: block;

	width: 600;
	left: 10%;
	height: 400;
	position: absolute;
	box-shadow: 10px 10px 8px 8px #402c25;
}

.banner-container {
	background-color: #FAFAF2;
	/
}

.banner-content {

	position: absolute;
	display: grid;
	grid-template-columns: 70% 0%;
	align-items: center;
	width: 100%;
	margin-top: -8%;
	text-align: center;
}


.image_scroll {
	background-color: #402c25;
	overflow: auto;
	white-space: nowrap;
	padding: 10px;
}

.image_scroll img {
	padding: 10px;
}

.mid-container {
	/* padding: 20px; */
	text-align: center;
	margin-top: 10%;
	margin: 0;
}

/* ref: for the image grid responsive.
  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_grid_responsive
  Create three equal columns that sits next to each other */
.row {
	display: -ms-flexbox;
	/* IE10 */
	display: flex;
	-ms-flex-wrap: wrap;
	/* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
	justify-content: space-evenly;
	margin-top: 5%;
}


.column {
	-ms-flex: 25%;
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}


@media screen and (max-width: 600px) {
	.image_container_a {
		display: -ms-flexbox;
		grid-template-columns: 100%;
		align-items: center;
		font-size: 0.875em;

		justify-content: center;
		justify-items: center;

	}
}

.image_container_a>div {

	margin: 30px;
	-ms-flex: 100%;
	flex: 100%;
	max-width: 100%;
}


input[type=text],
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #402c25;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;

}

input[type=submit]:hover {
	background-color: #8f6f6f;
}

form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 10%;
}

.location-container {
	display: grid;
	position: absolute;
	bottom: 100%;
	margin-left: 25%;
	margin-right: 25%;
	grid-template-columns: 50% 50%;
	align-items: center;
	font-size: 0.875em;
	/* margin: 30px; */
	color: blue;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}


.footer-container {
	background-color: #402c25;
	width: 100%;
	position: relative;
}

.footer-container img {

	margin-left: 5%;
}


.footer-menu-container {
	position: absolute;
	bottom: 25%;
	right: 10%;
	display: grid;
	grid-template-columns: 30% 30% 20% 20% 20%;
	align-items: center;
	justify-content: center;
	justify-items: center;

}

.footer-menu-container p {
	color: #FAF6F2;
	font-size: small;

}

.footer-menu-container a {
	color: #FAF6F2;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}